<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Menu</title>
</head>
<body>

	<h1>Menu TP01</h1>
	<ul>
		<li><a href="factorial?num=5">1) Calcular Factorial con rango 1-10</a></li>
		<li><a href="bisiesto?fecha=2020">2) Año Bisiesto</a></li>
		<li><a href="par?num1=1&num2=2&num3=3&num4=4&num5=5">3) Verificar numero par</a></li>
		<li><a href="meses?mes1=4&mes2=8&mes3=12">4) Meses ingresando un numero entero</a></li>
<!-- 		<li><a href="">6) Estado del Alumno</a></li> -->
<!-- 		<li><a href="">8) Secuencia numerica</a></li> -->
<!-- 		<li><a href="">9) Números 320-160 con Bucle for</a></li> -->
<!-- 		<li><a href="">10) Números 320-160 con Bucle while</a></li> -->
<!-- 		<li><a href="">11) Números 320-160 con Bucle do-while</a></li> -->
<!-- 		<li><a href="">12) Calculo caida de un objeto</a></li> -->
	</ul>
</body>
</html>