<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>Verificar si dos numeros ingresados son Pares o Impares</h1>
	<h2>El numero <span th:text ="${num1}"></span><span th:text ="${mensaje1}"></span></h2>
	<h2>El numero <span th:text ="${num2}"></span><span th:text ="${mensaje2}"></span></h2>
	<h2>El numero <span th:text ="${num3}"></span><span th:text ="${mensaje3}"></span></h2>
	<h2>El numero <span th:text ="${num4}"></span><span th:text ="${mensaje4}"></span></h2>
	<h2>El numero <span th:text ="${num5}"></span><span th:text ="${mensaje5}"></span></h2>
	
	<a href="menu">Volver al Menu</a>

</body>
</html>