<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>Verificar Nota de Alumno</h1>
	<h2>La nota es <span th:text ="${nota1}"></span>, por lo tanto <span th:text ="${estado1}"></span></h2>
	<h2>La nota es <span th:text ="${nota2}"></span>, por lo tanto <span th:text ="${estado2}"></span></h2>
	<h2>La nota es <span th:text ="${nota3}"></span>, por lo tanto <span th:text ="${estado3}"></span></h2>
	<h2>La nota es <span th:text ="${fuera}"></span>, por lo tanto <span th:text ="${estado4}"></span></h2>
	
	<a href="menu">Volver al Menu</a>

</body>
</html>