<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>Verificar Numero de Mes</h1>
	<h2><span th:text ="${mes1}"></span> Pertenece al Mes <span th:text ="${mensaje1}"></span></h2>
	<h2><span th:text ="${mes2}"></span> Pertenece al Mes <span th:text ="${mensaje2}"></span></h2>
	<h2><span th:text ="${mes3}"></span> Pertenece al Mes <span th:text ="${mensaje3}"></span></h2>
	
	<a href="menu">Volver al Menu</a>

</body>
</html>